div {
    width: 10 px;
}

h1 {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 30px;
}

p {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
}

button {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
    border-radius: 2px;
    background-color: #70c3ee;
    border: none;
    color: black;
    padding: 10px;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}

#laheta {
    background-color: #70c3ee;
}

div {
    border-radius: 2px;
}
